#info {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-trabajo {
    margin: 20px;

}

.info-trabajo img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid white;
}

.info-trabajo2 img {
    width: 180px;
    height: 180px;
    border-radius: 0% 50%;
    border: 5px solid white;
}

@media (min-width:480px) {
    .info-trabajo {
        width: 40%;
    }

    .info-trabajo2 {
        width: 50%;
        padding-left: 15px;
    }
}

@media (min-width:1024px) {
    .info-trabajo {
        width: auto;
    }

    .info-trabajo2 {
        height: 365px;
        width: 465px;
    }
}

div .info-trabajo2 {
    padding-top: 22px;
    padding-bottom: 20px;
}

#info .contenedor ul li {
    text-align:center;
}